@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Poppins:wght@300;400&display=swap');

form {
  margin-top: 200px;
  margin-left:200px;
}
body {
    background-color: #B1BCE6;
}

input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

h3{
    text-align:center;
    color: #371B58;
    font-size: 45px;
    font-family: 'Lora','sans-serif';
}
p{
    text-align:center;
    color: #354259;
    font-family: 'Lora','sans-serif'
    font-size: 75px;
    font-weight:600;
}

.heading {
    margin-left:20%;
    color: #371B58;
}

.instuction {
    position: absolute;
    right:10px;
    top:10px;
}