
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>music genre prediction</title>
    <link rel="icon" type="image" href="{{url_for('static',filename='favicon.ico')}}">
      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link
      href="https://fonts.googleapis.com/css?family=Oxygen:400,300,700"
      rel="stylesheet"
      type="text/css"
    />
      <script src="https://kit.fontawesome.com/2c697100cc.js" crossorigin="anonymous"></script>
      <link
      rel="stylesheet"
      href="{{url_for('static',filename='style.css')}}"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lora"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <h1 class="heading">Music Genre Detection </h1>
      <form action = "http://localhost:5000/uploader" method = "POST" class="form-group"
         enctype = "multipart/form-data">
          <div class="col-md-4 col-md-offset-4">
      <div class="input-group">
          <span class="input-group-btn">
            <div class="btn btn-default browse-button">
                <span class="browse-button-text">
                <i class="fa fa-folder-open"></i> Browse</span>
                <input type="file"  name="file"/>
            </div>
            <button type="button" class="btn btn-default clear-button" style="display:none;">
              <span class="fa fa-times"></span> Clear
            </button>
          </span>
          <input type="text" class="form-control filename"  placeholder="Please click on browse button and select a file">
          <span class="input-group-btn">
            <button class="btn btn-primary upload-button" type="submit">
                <i class="fa fa-upload"></i>
                Upload
              </button>
          </span>
        </div>
    </div>
      </form>
  <script src="{{url_for('static',filename='style.js')}}"></script>
  <div class="instuction">
      <h4>
          Instuctions
      </h4>
      <ul>
          <li>Select an audio file in wav form</li>
          <li>Upload it in the given toggle</li>
          <li>Result: The music genre will be predicted along with its accuracy</li>
      </ul>
      <h4>Genres Used</h4>
      <ol>Blues</ol>
      <ol>Classical</ol>
      <ol>Disco</ol>
      <ol>HipHop</ol>
      <ol>Jazz</ol>
      <ol>Metal</ol>
      <ol>Pop</ol>
      <ol>Reggae</ol>
      <ol>Rock</ol>

  </div>
  </body>
</html>

