<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>SolMusic | HTML Template</title>
	<meta charset="UTF-8">
	<meta name="description" content="SolMusic HTML Template">
	<meta name="keywords" content="music, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Favicon -->
	<link href="img/favicon.ico" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
 
	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}} "/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/font-awesome.min.css')}} "/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/owl.carousel.min.css')}} "/>
	<link rel="stylesheet" href="{{url_for('static',filename='css/slicknav.min.css')}} "/>

	<!-- Main Stylesheets -->
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section clearfix">
		<a href="index.html" class="site-logo">
			<img src="img/logo.png" alt="">
		</a>
		<ul class="main-menu">
			<li><a href="{{url_for('upload_file')}}">Home</a></li>
			<li><a href="#about_page">About</a></li>
			<li><a href="#genre_types">Genre types detected</a></li>
			<li><a href="{{url_for('view_code')}}">View Code</a></li>
			<li><a href="#contributors_page">Contributors</a></li>
		</ul>
	</header>
	<!-- Header section end -->

	<!-- code section -->
	<section class="blog-section spad">
		<div style="text-align:center;"><h1><u>Source Code<br><br></u></h1><img src="img/viewcode/music.jpg" alt=""></div>
		<div>
			<span style="color:#ff0066;">1. Imports:</span>
			<code><pre>
			from python_speech_features import mfcc
			import scipy.io.wavfile as wav
			import numpy as np
				
			from tempfile import TemporaryFile
			import os
			import pickle
			import random 
			import operator
				
			import math
			import numpy as np
			</pre>
			</code>
		</div>
		<div>
			<span style="color:#ff0066;">2. Define a function to get the distance between feature vectors and find neighbors:</span>
			<code>
				<pre>
			def getNeighbors(trainingSet, instance, k):
			distances = []
			for x in range (len(trainingSet)):
				dist = distance(trainingSet[x], instance, k )+ distance(instance, trainingSet[x], k)
				distances.append((trainingSet[x][2], dist))
			distances.sort(key=operator.itemgetter(1))
			neighbors = []
			for x in range(k):
				neighbors.append(distances[x][0])
			return neighbors</pre>
			</code>
		</div>
		<div>
			<span style="color:#ff0066;">3. Identify the nearest neighbors:</span>
			<code>
				<pre>
			def nearestClass(neighbors):
    			classVote = {}

    			for x in range(len(neighbors)):
        			response = neighbors[x]
        			if response in classVote:
            			classVote[response]+=1 
        			else:
            			classVote[response]=1

    			sorter = sorted(classVote.items(), key = operator.itemgetter(1), reverse=True)
    			return sorter[0][0]
				</pre>
			</code>
		</div>
		<div>
			<span style="color:#ff0066;">4. Define a function for model evaluation:</span>
			<code>
				<pre>
			def getAccuracy(testSet, predictions):
				correct = 0 
				for x in range (len(testSet)):
					if testSet[x][-1]==predictions[x]:
						correct+=1
				return 1.0*correct/len(testSet)
				</pre>
			</code>
		</div>
		<div>
			<span style="color:#ff0066;">5. Extract features from the dataset and dump these features into a binary .dat file “my.dat”:</span>
			<code>
				<pre>
			directory = "__path_to_dataset__"
			f= open("my.dat" ,'wb')
			i=0
					
			for folder in os.listdir(directory):
				i+=1
				if i==11 :
					break   
				for file in os.listdir(directory+folder):  
					(rate,sig) = wav.read(directory+folder+"/"+file)
					mfcc_feat = mfcc(sig,rate ,winlen=0.020, appendEnergy = False)
					covariance = np.cov(np.matrix.transpose(mfcc_feat))
					mean_matrix = mfcc_feat.mean(0)
					feature = (mean_matrix , covariance , i)
					pickle.dump(feature , f)
					
			f.close()
				</pre>
			</code>
		</div>
		<div>
			<span style="color:#ff0066;">6. Train and test split on the dataset:</span>
			<code>
				<pre>
			dataset = []
			def loadDataset(filename , split , trSet , teSet):
				with open("my.dat" , 'rb') as f:
					while True:
						try:
							dataset.append(pickle.load(f))
						except EOFError:
							f.close()
							break  
				
				for x in range(len(dataset)):
					if random.random() &lt; split:
						trSet.append(dataset[x])
					else:
						teSet.append(dataset[x])
					
			trainingSet = []
			testSet = []
			loadDataset("my.dat" , 0.66, trainingSet, testSet)</pre>
			</code>
		</div>
		<div>
			<span style="color:#ff0066;">7. Make prediction using KNN and get the accuracy on test data:</span>
			<code>
				<pre>
			leng = len(testSet)
			predictions = []
			for x in range (leng):
				predictions.append(nearestClass(getNeighbors(trainingSet ,testSet[x] , 5))) 
					
			accuracy1 = getAccuracy(testSet , predictions)
			print(accuracy1)
				</pre>
			</code>
		</div>
		<div>
			<br><hr><br>
			<h3>Test the classifier with new audio file</h3>
			<p style="color:#ff0066;"><br>Save the new audio file in the present directory. Make a new file test.py and paste the below script:</p>
		<pre>
			from python_speech_features import mfcc
			import scipy.io.wavfile as wav
			import numpy as np
			from tempfile import TemporaryFile
			import os
			import pickle
			import random 
			import operator

			import math
			import numpy as np
			from collections import defaultdict

			dataset = []
			def loadDataset(filename):
    			with open("my.dat" , 'rb') as f:
       				while True:
            			try:
                			dataset.append(pickle.load(f))
            			except EOFError:
                			f.close()
                			break

			loadDataset("my.dat")

			def distance(instance1 , instance2 , k ):
    			distance =0 
    			mm1 = instance1[0] 
    			cm1 = instance1[1]
    			mm2 = instance2[0]
    			cm2 = instance2[1]
    			distance = np.trace(np.dot(np.linalg.inv(cm2), cm1)) 
    			distance+=(np.dot(np.dot((mm2-mm1).transpose() , np.linalg.inv(cm2)) , mm2-mm1 )) 
    			distance+= np.log(np.linalg.det(cm2)) - np.log(np.linalg.det(cm1))
    			distance-= k
    			return distance

			def getNeighbors(trainingSet , instance , k):
    			distances =[]
    			for x in range (len(trainingSet)):
       				dist = distance(trainingSet[x], instance, k )+ distance(instance, trainingSet[x], k)
       				distances.append((trainingSet[x][2], dist))
    			distances.sort(key=operator.itemgetter(1))
    			neighbors = []
    			for x in range(k):
        			neighbors.append(distances[x][0])
    			return neighbors  

			def nearestClass(neighbors):
    			classVote ={}
    			for x in range(len(neighbors)):
        			response = neighbors[x]
        			if response in classVote:
            			classVote[response]+=1 
        			else:
            			classVote[response]=1 
    			sorter = sorted(classVote.items(), key = operator.itemgetter(1), reverse=True)
    			return sorter[0][0]


			results=defaultdict(int)

			i=1
			for folder in os.listdir("./musics/wav_genres/"):
    			results[i]=folder
    			i+=1

			(rate,sig)=wav.read("__path_to_new_audio_file_")
			mfcc_feat=mfcc(sig,rate,winlen=0.020,appendEnergy=False)
			covariance = np.cov(np.matrix.transpose(mfcc_feat))
			mean_matrix = mfcc_feat.mean(0)
			feature=(mean_matrix,covariance,0)

			pred=nearestClass(getNeighbors(dataset ,feature , 5))

			print(results[pred])
		</pre>
		</div>
	</section>
	<!-- code section end -->

	<!-- Footer section -->
	<footer class="footer-section">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-5 order-lg-1">
					<img src="{{url_for('static',filename='img/logo.png')}}" alt="">
					<div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
					<div class="social-links">
						<a href=""><i class="fa fa-instagram"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
	
	<!--====== Javascripts & Jquery ======-->
	<script src="{{url_for('static',filename='js/jquery-3.2.1.min.js')}} "></script>
	<script src="{{url_for('static',filename='js/bootstrap.min.js')}} "></script>
	<script src="{{url_for('static',filename='js/jquery.slicknav.min.js')}} "></script>
	<script src="{{url_for('static',filename='js/owl.carousel.min.js')}} "></script>
	<script src="{{url_for('static',filename='js/mixitup.min.js')}} "></script>
	<script src="{{url_for('static',filename='js/main.js')}} "></script>

	</body>
</html>
